<article>
    <h2 class="truncate two">{{ post.data.title }}</h2>
    <p class="truncate two">{{post.data.excerpt}}</p>
    <a href="{{ post.url }}" class="button-outline-blue">Meer informatie</a>
</article>